.custom-navbar {
    position: sticky;
    top: 0;
    /* Stick to the top of the page */
    z-index: 1000;
    /* Ensure the navbar stays above other content */
    border-bottom: 1px solid rgba(128, 128, 128, 0.361);
    background-color: #010310;
    width: 100%;
}

.navLink {
    font-size: 14px;
    color: white;
    padding: 10px 0px;
    cursor: pointer;
}

.navLink:hover {
    color: #d00000;
}

.navLink:nth-child(5) {
    color: #fff;
    background-color: #d00000;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 2px 22px;
    font-size: 14px;
    line-height: 130%;
    text-decoration: none;
    display: flex;
}

.navLink:nth-child(5):hover {
    background-color: #9d0208;
}

.logo {
    height: 80px;
}